.filter-container {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .filter-container label {
    font-weight: bold;
  }
  
  .filter-container select {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  